#### Categorical Variable Encoding

_Dummy Variables & One Hot Encoding_

- One Hot Encoding with Pandas

In [1]:
import pandas as pd

In [3]:
dataset = pd.read_csv('tips.csv')
print(dataset.shape)
print(dataset.head())

(244, 7)
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
dummy_dataset = pd.get_dummies(dataset)
print(dummy_dataset.shape)
print(dummy_dataset.head())

(244, 13)
   total_bill   tip  size  sex_Female  sex_Male  smoker_No  smoker_Yes  \
0       16.99  1.01     2           1         0          1           0
1       10.34  1.66     3           0         1          1           0
2       21.01  3.50     3           0         1          1           0
3       23.68  3.31     2           0         1          1           0
4       24.59  3.61     4           1         0          1           0

   day_Fri  day_Sat  day_Sun  day_Thur  time_Dinner  time_Lunch
0        0        0        1         0            1           0
1        0        0        1         0            1           0
2        0        0        1         0            1           0
3        0        0        1         0            1           0
4        0        0        1         0            1           0

In [10]:
print(pd.get_dummies(dataset, drop_first = True))

     total_bill   tip  size  sex_Male  smoker_Yes  day_Sat  day_Sun  day_Thur  \
0         16.99  1.01     2         0           0        0        1         0
1         10.34  1.66     3         1           0        0        1         0
2         21.01  3.50     3         1           0        0        1         0
3         23.68  3.31     2         1           0        0        1         0
4         24.59  3.61     4         0           0        0        1         0
..          ...   ...   ...       ...         ...      ...      ...       ...
239       29.03  5.92     3         1           0        1        0         0
240       27.18  2.00     2         0           1        1        0         0
241       22.67  2.00     2         1           1        1        0         0
242       17.82  1.75     2         1           0        1        0         0
243       18.78  3.00     2         0           0        0        0         1

     time_Lunch
0             0
1             0
2             0
3             0
4             0
..          ...
239           0
240           0
241           0
242           0
243           0

[244 rows x 9 columns]

- One Hot Encoding with Scikit_Learn

In [11]:
from sklearn.preprocessing import OneHotEncoder

In [12]:
oh_enc = OneHotEncoder(sparse = False) # drop = 'First'

In [14]:
oh_enc_arr = oh_enc.fit_transform(dataset[['sex', 'smoker', 'day', 'time']])
oh_enc_arr

array([[1., 0., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       ...,
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 1., 1., ..., 0., 1., 0.],
       [1., 0., 1., ..., 1., 1., 0.]])

In [15]:
dummy_dataset.keys()

Index(['total_bill', 'tip', 'size', 'sex_Female', 'sex_Male', 'smoker_No',
       'smoker_Yes', 'day_Fri', 'day_Sat', 'day_Sun', 'day_Thur',
       'time_Dinner', 'time_Lunch'],
      dtype='object')

In [16]:
oh_enc_dataset = pd.DataFrame(oh_enc_arr, columns = ['sex_Female', 'sex_Male', 'smoker_No',
                                   'smoker_Yes', 'day_Fri', 'day_Sat', 'day_Sun',
                                   'day_Thur', 'time_Dinner', 'time_Lunch'])

In [17]:
oh_enc_dataset

,sex_Female,sex_Male,smoker_No,smoker_Yes,day_Fri,day_Sat,day_Sun,day_Thur,time_Dinner,time_Lunch
0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...
239,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
240,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
241,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0
242,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
243,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

***Thank You***